$color-black: #000000;
$color-white: #ffffff;
$color-light-gray: #303030;
$color-text-light-gray: #979696;
$color-dark-gray: #1c1c1c;
$color-dark-bg: #282828;
$color-light-bg: #363636;
$color-pink: #ff3448;
$color-cherry: #9c1c28;
$color-dark-pink: #887979;
$color-border-gray: #595959;
$color-border-menu-gray: #545454;
$color-gray-bg: #212121;
$color-gray-light: #a2a2a2;
$color-blue: blue;



$fonts-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol";
$Lato-regular: "Lato", $fonts-default;




$container-width: 140rem;
$min-width: 32rem;



$laptop-width: 1179px;
$tablet-width: 1023px;
$mobile-width: 767px;
$mobile-width-small: 375px;